<hr class="mt-4 mb-2 mx-auto w-48 h-0.5 bg-red-600 rounded border-0"/>
<footer class="my-0 mx-auto max-w-2xl py-6 px-3 md:px-6">
  <p class="text-center">
    thanks for reading 🤘
  </p>
  <p class="text-center">
    <a
      href="/about"
      class="text-center border-b border-current text-red-500 no-underline transition-colors duration-300 ease-in-out hover:text-red-600">
      about me
    </a>
  </p>
</footer>