<hr class="my-4 mx-auto w-48 h-1 bg-red-600 rounded border-0 md:my-10"/>
<footer class="my-0 mx-auto flex max-w-2xl flex-wrap items-center justify-between py-6 px-3 md:px-6">
  <p>
    i use this space to jot down ideas and thoughts relating to my work as a software dev, hobbies, and life in general.
    thanks for reading 🤘
    <a
      href="/about"
      class="border-b border-current text-red-500 no-underline transition-colors duration-300 ease-in-out hover:text-red-600">
      more about me
    </a>
  </p>
  <!-- <ul> {%- for item in navigation.items -%}
      {%- if item.url == page.url -%}
        {%- set highlight = 'cursor-default' -%}
        {%- set current = 'aria-current="page"' -%}
      {%- else -%}
        {%- set highlight = 'underline' -%}
        {%- set current = '' -%}
      {%- endif -%}
      <li>
        <a href="{{ item.url }}" class="border-b border-current text-red-500 no-underline transition-colors duration-300 ease-in-out hover:text-red-600 {{ highlight }}" {{ current }}>
          {{ item.text }}
        </a>
      </li>
  {%- endfor -%} </ul> -->
</footer>