<header class="mx-auto py-4 mb-8 max-w-2xl px-3 md:px-6">
  <nav class="my-0 mx-auto flex max-w-2xl flex-wrap items-center justify-between">
    <h1 class="text-2xl font-semibold tracking-wide">
      <a class="uppercase transition-colors duration-300 ease-in-out hover:text-red-600" href="/">
        {{ site.name }}
      </a>
    </h1>
    {% set icon_size = 24 %}
    <ul class="m-0 flex items-center">
      <li>
        <a
          href="https://twitter.com/cfiloteo12"
          rel="noopener noreferrer"
          target="_blank"
          class="inline-flex p-2 transition-colors duration-300 ease-in-out hover:text-red-600">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="{{ icon_size }}" width="{{ icon_size }}" xmlns="http://www.w3.org/2000/svg">
            <use href="#icon-twitter" />
          </svg>
          <span class="sr-only">Follow me as @cfiloteo12 on Twitter</span>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/filoxo"
          class="inline-flex p-2 transition-colors duration-300 ease-in-out hover:text-red-600">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 480 512" height="{{ icon_size }}" width="{{ icon_size }}" xmlns="http://www.w3.org/2000/svg">
            <use href="#icon-github" />
          </svg>
          <span class="sr-only">I'm @filoxo on Github</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/carlosfiloteo/"
          class="inline-flex p-2 transition-colors duration-300 ease-in-out hover:text-red-600">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="{{ icon_size }}" width="{{ icon_size }}" xmlns="http://www.w3.org/2000/svg">
            <use href="#icon-linkedin" />
          </svg>
          <span class="sr-only">Let's connect on LinkedIn</span>
        </a>
      </li>
      <li>
        <div>{% include "_theme-toggle.njk" %}</div>
      </li>
    </ul>
  </nav>
</header>