<label class="inline-flex relative items-center cursor-pointer mt-2 ml-2">
  <input type="checkbox" class="sr-only peer" aria-label="Toggle site theme" id="theme-toggle">
    <div class="w-9 h-5 bg-gray-800 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800
      dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute
      after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4
      after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
  </label>