<!DOCTYPE html>
<html class="antialiased" lang="en">
  <head>
    {%- include "_head.njk" -%}
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 relative font-sourcecodepro">
    <div class="absolute z-[-1] inset-0 h-full min-h-screen w-full min-w-screen bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[radial-gradient(#efefef22_1px,transparent_1px)] [background-size:16px_16px] pointer-events-none"></div>
    {%- include "_nav.njk" -%}
    <div class="my-0 mx-auto max-w-2xl px-3 md:px-6">
      <div>{{ content | safe }}</div>
    </div>
    {%- include "_footer.njk" -%}
    {% block scripts %}{% endblock %}
  </body>
</html>