<!DOCTYPE html>
<html class="antialiased" lang="en">
  <head>
    {%- include "_head.njk" -%}
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    {%- include "_nav.njk" -%}
    <div class="my-0 mx-auto max-w-2xl px-3 md:px-6">
      <div>{% block content %}{% endblock %}</div>
    </div>
    {%- include "_footer.njk" -%}
    {% block scripts %}{% endblock %}
  </body>
</html>