<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
  <head>
    {% include "_head.njk" %}
  </head>
  <body class="min-h-screen bg-white"> {% block content %}{% endblock %}
    </body>
  </html>