@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";


/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

/* https://tailwindcss.com/docs/font-family#customizing-your-theme */
@theme {
  --font-sourcecodepro: 'Source Code Pro', monospace;
}

@layer components {
  /* Twitter keeps changing this damn selector */
  .twitter-tweet {
    margin: 0 auto;
  }

  ul.tag-list:before {
    content: attr(aria-label);
    font-weight: bold;
    margin-right: 0.5rem;
  }

  .permalink {
    float: left;
    font-size: 0.75em;
    margin-left: -28px;
    opacity: 0;
  }
  *:hover > .permalink,
  .permalink:hover,
  .permalink:focus {
    opacity: 1;
  }

  .site-link {
    @apply border-b border-current text-red-500 no-underline transition-colors duration-300 ease-in-out hover:text-red-600;
  }

  .prose hr {
    @apply h-2 my-8 prose-hr:border-red-600;
  }

  ul ul {
    @apply ml-6;
  }
}
