@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');

@unocss;

:root {
  font-family: 'Source Code Pro', monospace;
}

/* Twitter keeps changing this damn selector */
.twitter-tweet {
  margin: 0 auto;
}

ul.tag-list:before {
  content: attr(aria-label);
  font-weight: bold;
  margin-right: 0.5rem;
}

.permalink {
  float: left;
  font-size: 0.75em;
  margin-left: -28px;
  opacity: 0;
}
*:hover > .permalink,
.permalink:hover,
.permalink:focus {
  opacity: 1;
}

