.post {
  background-color: #fff;
  border: var(--grey-border);
  border-radius: 3px;
}
.post:not(:last-child) {
  margin-bottom: 2em;
}
.heading {
  display: flex;
  align-items: center;
}
.title {
  border-right: var(--grey-border);
  flex: 1;
  margin: 0;
  padding: var(--content-padding);
}
.title a {
  border: none;
  text-decoration: none;
  transition: var(--fade-color-transition);
}
.title a:hover {
  color: teal;
}
.date {
  margin-bottom: 0;
  padding: 0.5rem;
  text-align: center;
  flex: 0 1 25%;
}
.prev {
  border-top: var(--grey-border);
  grid-area: prev;
  padding: var(--content-padding);
}
.seeMore {
  border: var(--grey-border);
  transition: all 0.15s ease-in;
}
.content {
  border-top: var(--grey-border);
  grid-area: prev;
  padding: var(--content-padding);
}
.tags {
  border-top: var(--grey-border);
  grid-area: tags;
  padding: var(--content-padding);
}
.navigation {
  display: flex;
  justify-content: space-between;
  border-top: var(--grey-border);
  grid-area: nav;
  min-height: 60px;
  padding: var(--content-padding);
}
@media screen and (max-width: 615px) {
  .heading {
    display: block;
  }
  .title {
    border-right: 0;
    border-bottom: var(--grey-border);
    padding: var(--content-padding-sm);
  }
  .content {
    padding: var(--content-padding-sm);
  }
  .prev {
    padding: var(--content-padding-sm);
  }
}
