.post {
  background-color: #fff;
  border: 2px solid rgba(160, 160, 160, 0.3);
}
.post:not(:last-child) {
  margin-bottom: 2em;
}
.heading {
  display: flex;
  align-items: center;
}
.title {
  border-right: 2px solid rgba(160, 160, 160, 0.3);
  flex: 1;
  margin: 0;
  padding: .5rem 1rem;
}
.title a {
  border: none;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease-in;
}
.title a:hover {
  color: teal;
}
.date {
  color: #555;
  margin-bottom: 0;
  padding: 0.5rem;
  text-align: center;
  flex: 0 1 25%;
}
.prev {
  color: #555;
  border-top: 2px solid rgba(160, 160, 160, 0.3);
  grid-area: prev;
  padding: 1rem 1.5rem;
}
.seeMore {
  border: 2px solid rgba(160, 160, 160, 0.3);
  transition: all 0.15s ease-in;
}
.content {
  color: #555;
  border-top: 2px solid rgba(160, 160, 160, 0.3);
  grid-area: prev;
  padding: 1rem 1.5rem;
}
.tags {
  border-top: 2px solid rgba(160, 160, 160, 0.3);
  grid-area: tags;
  padding: 1rem 1.5rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgba(160, 160, 160, 0.3);
  grid-area: nav;
  min-height: 60px;
  padding: 1rem 1.5rem;
}
@media screen and (max-width: 615px) {
  .heading {
    display: block;
  }
  .title {
    border-right: 0;
    border-bottom: 2px solid rgba(160, 160, 160, 0.3);
    padding: 0.75rem;
  }
  .content {
    padding: 0.75rem;
  }
  .prev {
    padding: 0.75rem;
  }
}
