.themeToggle {
  --toggle-size: 1.75rem;
  --toggle-handle-size: 1rem;

  background: var(--bg-color-dark);
  border: var(--grey-border);
  border-radius: 1rem;
  box-sizing: content-box;
  display: inline-flex;
  height: 1rem;
  line-height: 1;
  padding: 0;
  transition: background 0.2s ease-in-out;
  width: var(--toggle-size);
}

.themeToggle::before {
  background: var(--bg-color-light);
  border-radius: var(--toggle-handle-size);
  content: '';
  display: block;
  margin-left: 0;
  height: var(--toggle-handle-size);
  transition: margin-left 0.15s ease-in-out, background 0.2s ease-in-out;
  width: var(--toggle-handle-size);
}

.themeToggle[aria-pressed='true'] {
  background: var(--bg-color-light);
}

.themeToggle[aria-pressed='true']::before {
  background: var(--bg-color-dark);
  margin-left: calc(var(--toggle-size) - var(--toggle-handle-size));
}
