.blog-post {
  background-color: #fff;
  border: 1.5px solid rgba(160, 160, 160, 0.3);
  display: grid;
  grid-template-columns: 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title date"
    "prev prev prev prev"
    "tags tags tags tags"
    "nav nav nav nav";
}

.blog-post .title {
  align-self: center;
  border-right: 2px solid rgba(160, 160, 160, 0.3);
  grid-area: title;
  margin: 0;
  padding: 1rem 1.5rem;
}
.blog-post .date {
  align-self: center;
  color: #555;
  grid-area: date;
  padding: .75rem;
  text-align: center;
}

.blog-post .blog-post-content {
  color: #555;
  border-top: 1.5px solid rgba(160, 160, 160, 0.3);
  grid-area: prev;
  padding: 1rem 1.5rem;
}

.blog-post .link.prev {
  float: left;
}

.blog-post .link.next {
  float: right;
}

.blog-post .date {
  margin-bottom: 0;
}
.blog-post .tags {
  border-top: 2px solid rgba(160, 160, 160, 0.3);
  grid-area: tags;
  padding: 1rem 1.5rem;
}
.blog-post .navigation {
  border-top: 1.5px solid rgba(160, 160, 160, 0.3);
  grid-area: nav;
  min-height: 60px;
  padding: 1rem 1.5rem;
}
