a, .link {
  display: inline-block;
  color: inherit;
  border-bottom: 2px dashed rgba(160, 160, 160, 0.5);
  line-height: 1.2;
  text-decoration: none;
  transition: all .15s ease-in;
  position: relative;
}
a:hover, .link:hover {
  border-bottom-color: teal;
  color: teal;
}
.link.btn {
  border: 1.5px solid rgba(160, 160, 160, 0.3);
  padding: .75rem 1rem;
}
.link.btn:hover {
  border-color: teal;
}
