.tag-list {
  list-style: none;
  margin: 0;
}
.tag-list li {
  display: inline-block;
  margin: 0;
  padding: .1rem .8rem;
}
.tag-list li:not(:last-child) {
  border-right: 2px solid rgba(160, 160, 160, 0.3);
}