---
title: 'Latest posts'
---

{% extends 'base.njk' %}

{%- block content -%}
<div class="space-y-16 mb-12">
  {%- for post in collections.posts | reverse -%}
  <section>
    <h1 class="mb-4 text-2xl text-red-600">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h1>
    <div class="text-red-600 mb-4">{{ post.date | date }}</div>
    <div>
      <p>{{ post.data.page.excerpt or post.data.excerpt | striptags }}
        <a class="text-red-600" href="{{ post.url }}">Read more</a>
      </p>
    </div>
  </section>
  {%- endfor -%}
</div>
{%- endblock -%}