---
title: Posts by tag
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

{% extends 'base.njk' %}

{%- block content -%}
{%- set taglist = collections[ tag ] -%}
<h1>{{ taglist.length }} post{% if taglist.length > 1 %}s{% endif %} tagged with “{{ tag }}”</h1>
<ol>
  {% for post in taglist | reverse %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ol>
{%- endblock -%}