<div class="">
  <div class="">
    <h2 class="">
      <a href={post.fields.slug}>{post.frontmatter.title}</a>
    </h2>
    <div class="">{post.frontmatter.date}</div>
  </div>
  <div class="">
    <p>{post.excerpt}</p>
    <a class="" href={post.fields.slug}>
      Read more
    </a>
  </div>
</div>